<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This will be the basic of python">
        <title>About Python</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <div id="start"><p>Text Size: <a href="/">Normal</a> | <a href="/"> Large</a></p></div>
            <div id="head"><img src="../images/python.png" alt="python" id="img"></div>
            <div id="filter">
                <input type="text" id="search" placeholder="Search">
                <input type="submit" value="Go" id="go" >
            </div>
            <div id="menubar">
                <p id="col1"><a href="" id="col_1">About</a></p>
                <p id="col2"><a href="" id="col_2">Downloads</a></p>
                <P id="col3"><a href="" id="col_3">Documentation</a></P>
                <P id="col4"><a href="" id="col_4">Community</a></P>
                <P id="col5"><a href="" id="col_5">News</a></P>
                <P id="col6"><a href="" id="col_6">Events</a></P>
            </div>
            <div id="navigation">
                &rsaquo;&rsaquo; <a href="/" id="ncol1">Docs</a>
                &rsaquo;&rsaquo; <a href="/" id="ncol2">Audio/Visual Talks</a>
                &rsaquo;&rsaquo; <a href="/" id="ncol3">Beginners's Guide</a>
                &rsaquo;&rsaquo; <a href="/" id="ncol4">Developers's Guide</a>
                &rsaquo;&rsaquo; <a href="/" id="ncol5">PEP Index</a>
                &rsaquo;&rsaquo; <a href="/" id="ncol6">FAQ</a>
            </div>
        </div>
    </body>
</html>